@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
    --font-heebo: 'Heebo', sans-serif;
    --font-sans: 'Heebo', sans-serif;

    --color-brand-blue: #007AFF;
    --color-brand-dark: #1D1D1F;
    --color-brand-light: #F5F5F7;
    --color-brand-surface: #FFFFFF;
}

@layer base {
    body {
        background-color: #F5F5F7;
        color: #1D1D1F;
        -webkit-font-smoothing: antialiased;
    }
}